.header__text{
    color: red;
}

.header__text:after{
    content: '';
    background-image: url(/images/404/1920.png);
    display: inline-block;
    width: calc(860 / 1920* 100vw);
    height: calc(657 / 1920 * 100vw);
}