@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

$block-width: 1920;

#about-platform{
    margin-top: 300px;
    color: var(--color-light);
    display: flex;
    justify-content: start;
}

.about-platfom__image{
    margin-left: -5%;
    width: calc(1300 / $block-width * 100vw);
    height: calc(730 / $block-width * 100vw);
    display: inline-block;
}

.about-platform__content{
    display: inline-flex;
    flex-direction: column;
    padding-top: 100px;
}

.about-platform__header{
    @include header();
}

.about-platform__text{
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 50px;
}

.about-platform__link{
    @include button(160px, 70px);
    text-decoration: none;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 160%;
    color: var(--color-light);
}

@media (hover:hover){
    .about-platform__link:hover{
        transform: scale(1.2);
        transition-duration: var(--transition-duration);
    }
}

// ------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 1100px) {

    $block-width: 1700;

    .about-platfom__image{
        width: calc(1300 / $block-width * 100vw);
        height: calc(730 / $block-width * 100vw);
    }

    .about-platform__content{
        margin-left: -20px;
    }

    .about-platform__header{
        font-size: 36px;
    }

    .about-platform__link{
        font-size: 16px;
    }

    .about-platform__content{
        padding-top: 30px;
    }
}

// ------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 800px) {

    $block-width: 1500;

    #about-platform{
        display: flex;
        flex-direction: column;
    }

    .about-platfom__image{
        order: 1;
        width: calc(1300 / $block-width * 100vw);
        height: calc(730 / $block-width * 100vw);
        margin-inline: auto;
    }

    .about-platform__content{
        margin-left: 50px;
    }

    .about-platform__header{
        font-size: 36px;
    }

    .about-platform__link{
        font-size: 16px;
    }

    .about-platform__content{
        padding-top: 30px;
    }
}

// ------------------------------------------------------------------------------------------------------------------

@media screen and (max-width: 640px) {

    $block-width: 1000;

    .about-platfom__image{
        width: calc(1300 / $block-width * 100vw);
        height: calc(730 / $block-width * 100vw);
    }

    .about-platform__content{
        margin-right: 10%;
    }

    .about-platform__header{
        font-size: 24px;
    }

    .about-platform__link{
        font-size: 14px;
    }

}