@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

.body__account{
    height: 100%;
    overflow: hidden;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 110%;
    color: var(--color-light);
}

.account__main{
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 30%;
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 5px #191a23;
    padding-top: 35px;
    text-align: center;
}

.account__image{
    width: auto;
    height: 180px;
    background-color: aliceblue;
    border-radius: var(--border-radius);
}

.account__nickname{
    padding-block: 20px;
}

.account__link, .account__link-events{
    display: block;
    text-decoration: none;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 110%;
    color: var(--color-red);
}

.account__link{
    margin-bottom: 20px;
}

.account__menu-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20%;
}

.account__menu-button button, .account__link-main{
    background-color: var(--color-red);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #191a23;
    margin-top: 50px;
    margin-bottom: 50px;
}

.account__link-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__button{
    display: inline-block;
    width: 30px;
    height: 30px;
}

#account__change{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 70%;
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 5px #191a23;
    text-align: center;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 110%;
    color: var(--color-light);
}

#account__change-input{
    display: none;
}

.account__change-label{
    @include button(300px, 50px);
    cursor: pointer;
    margin-bottom: 20px;
}

.account__change-block{
    margin-block: 20px;
    border: solid 2px var(--color-light);
    width: 300px;
    height: 70px;
    border-radius: var(--border-radius);
}

.account__change-legend{
    width: 200px;
    padding-bottom: 10px;
}

#account__change-name{
    width: 250px;
    border: none;
    background-color: transparent;
    font-family: "Raleway-Regular";
    font-size: 16px;
    line-height: 110%;
    color: var(--color-light);
    padding-bottom: 10px;
}

button[class^="account__button"]{
    @include button(300px, 50px);
    margin-block: 20px;
}

@media (hover:hover){
    .account__link:hover, .account__link-events:hover, 
    button:hover, .account__link-main:hover,
    .account__change-label:hover{
        transform: scale(1.2);
        transition-duration: var(--transition-duration);
    }
}

@media screen and (max-width: 1400px){
    .account__main{
        width: 40%;
    }
}

@media screen and (max-width: 900px){
    .account__main{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .account__main{
        width: 70%;
    }
}

@media screen and (max-width: 400px){
    .account__main{
        width: 90%;
    }
}