@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

$block-width: 1920;

body{
    background-color: var(--color-blue);
    height: 1000px;
    scroll-behavior: smooth;
}

.header__menu{
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--color-blue);
}

.header__menu-burger{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header__menu-link{
    text-decoration: none;
    color: var(--color-light);
}

#header__nav-1300{
    visibility: hidden;
    position: absolute;
}

.header__menu-login{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-login li:nth-child(2){
    margin-left: 40px;
    @include button(180px, 50px);
}

.header__menu-button-text{
    padding-inline: 35px;
    padding-block: 20px;
}

@media (hover:hover){
    .header__menu-login-item:hover, .header__menu-item:hover, .header__menu-burger-item:hover{
    transform: scale(1.2);
    transition-duration: var(--transition-duration);
    }

    .header__menu-hover-color:hover{
        color: #ffffff7d;
        transition-duration: var(--transition-duration);
    }
}

.header__menu-burger-item-hidden{
    visibility: hidden;
    position: absolute;
}



@media screen and (max-width: 1300px) {

    .header__menu{
        padding-bottom: 80px;
    }

    .header__menu-burger-item-hidden{
        visibility: hidden;
        position: absolute;
    }

    .header__nav-label{
        visibility: visible;
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 40px;
        height: 5px;
        position: absolute;
        top: 65px;
        right: 70px;
        z-index: 10;
        transform: none;
        transition-duration: var(--transition-duration);
    }

    .header__nav-label::after{
        content: '';
        visibility: visible;
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 40px;
        height: 5px;
        position: absolute;
        top: 10px;
        z-index: 10;
        transition-duration: var(--transition-duration);
    }

    .header__menu-burger{
        width: 0%;
        order: 100;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0;
        padding-top: 120px;
        padding-bottom: 200px;
        background-color: #4B4856;
        transition-duration: var(--transition-duration);
        z-index: 5;
    }

    .header__menu-burger-item{
        padding-bottom: 40px;
        padding-left: 80px;
    }


    #header__nav-1300:checked ~ .header__menu-burger{
        transition-duration: var(--transition-duration);
        width: 30%;
    }

    #header__nav-1300:checked ~ label .header__nav-label{
        top: 75px;
        transform-origin: 0 0;
        transform: rotate(-45deg);
        transition-duration: var(--transition-duration);
    }

    #header__nav-1300:checked ~ label .header__nav-label::after{
        transform-origin: 25px -2.5px;
        transform: rotate(90deg);
        transition-duration: var(--transition-duration);
        top: 10px;
    }

    .header__menu-login{
        position: absolute;
        top: 45px;
        right: 15%;
    }

    .header__menu-link-logo{
        position: absolute;
        top: 40px;
        left: 40px;
    }
}

@media screen and (max-width: 900px) {
    
    .header__menu-burger-item-hidden{
        visibility: visible;
        position: static;
    }

    .header__menu-login{
        @include visually-hidden();
    }

    #header__nav-1300:checked ~ .header__menu-burger{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {

    #header__nav-1300:checked ~ .header__menu-burger{
        transition-duration: var(--transition-duration);
        width: 100%;
    }
}