@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

.body__login{
    height: 100%;
    overflow: hidden;
}

.login__header{
    @include visually-hidden();
}

.login__main{
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 30%;
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 5px #191a23;
    padding-top: 35px;
}

.body__login legend{
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 110%;
    color: var(--color-light);
}

.login__header{
    font-family: "Raleway-SemiBold";
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
    color: var(--color-red);
}

.body__login fieldset{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
 
.body__login input:not(#password__eye), .body__login input::placeholder{
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 110%;
    color: var(--color-grey);
}
   
.body__login input:not(#password__eye){
    width: 100%;
    background-color: var(--color-dark-blue);
    color: var(--color-light);
    padding-left: 10px;
    margin-top: 10px;
    padding-block: 5px;
    box-shadow: -10px 10px 5px 0 #191a23;
    color: var(--color-light);
}

.password__fieldset{
    padding-bottom: 10px;
    display: flex;
}

#password__eye{
    @include visually-hidden();
}

.password__label{
    background-image: url(/static/images/login/eye.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 215px;
    right: 50px;
}

#password__eye:checked ~ .password__label{
    background-image: url(/static/images/login/blind.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 215px;
    right: 50px;
}

.body__login a{
    display: flex;
    justify-content: center;
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 110%;
    color: var(--color-light);
    text-decoration: none;
    padding-bottom: 15px;
}

.body__login .login__registration{
    color: var(--color-red);
}

.login__button{
    @include button (200px, 50px);
    margin-top: 20px;   
}

.login__button-steam{
    @include button (300px, 50px);
    margin-inline: 20px; 
    margin-bottom: 35px;
}

.button{
    display: flex;
    justify-content: center;
}

@media (hover:hover){
    .body__login a:hover, .login__button:hover, .login__button-steam:hover{
        transform: scale(1.2);
        transition-duration: var(--transition-duration);
    }
}

@media screen and (max-width: 1300px){
    .login__main{
        width: 50%;
    }

    .body__login fieldset{
        width: 60%;
    }
}

@media screen and (max-width: 700px){
    .login__main{
        width: 70%;
    }

    .body__login fieldset{
        width: 70%;
    }
}

@media screen and (max-width: 700px){
    .login__main{
        width: 90%;
    }
}
