@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

.body__password{
    height: 100%;
    overflow: auto;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 140%;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password__container{
    text-align: center;
    background-color: var(--color-blue);
    padding: 50px;
    border-radius: var(--border-radius);
}

.body__password a{
    text-decoration: none;
    color: var(--color-red);
}

.body__password p, .body__password h1, .body__password h2{
    padding-block: 30px;
}

.body__password button{
    margin-inline: auto; 
    @include button (300px, 70px);
    margin-top: 30px;
}

.body__password .team_update-button{
    margin-inline: auto; 
    @include button (40px, 40px);
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
} 

.team_update-button img{
    width: 30px;
    aspect-ratio: 1;
}

.body__password input{
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 110%;
    color: var(--color-grey);
    width: 100%;
    background-color: var(--color-dark-blue);
    color: var(--color-light);
    padding-left: 10px;
    padding-block: 5px;
    box-shadow: -10px 10px 5px 0 #191a23;
    color: var(--color-light);
    padding-block: 15px;
    margin-block: 30px;
}

.body__password .background-images__circle2{
    z-index: -1;
}

.users__teams-item, .account__link-events{
    padding-bottom: 15px;
}

.body__password .account__link-events{
    color: var(--color-light);
    padding: 0;
    @include button(200px, 50px);
}

