@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

.body__password{
    height: 100%;
    overflow: hidden;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 140%;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password__container{
    text-align: center;
    background-color: black;
    padding: 50px;
    border-radius: var(--border-radius);
}

.body__password a{
    text-decoration: none;
    color: var(--color-red);
}
