@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

.body__registration{
    height: 100%;
    overflow: hidden;
}

.registration__block{
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    box-shadow: 0 10px 5px #191a23;
    padding-top: 35px;
}

.registration__header{
    font-family: "Raleway-SemiBold";
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
    color: var(--color-red);
}

.body__registration fieldset{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
 
.body__registration input, .body__registration input::placeholder{
    font-family: "Raleway-Regular";
    font-size: 14px;
    line-height: 110%;
    color: var(--color-grey);
}
   
.body__registration input{
    width: 100%;
    background-color: var(--color-dark-blue);
    color: var(--color-light);
    padding-left: 10px;
    padding-block: 5px;
    box-shadow: -10px 10px 5px 0 #191a23;
    color: var(--color-light);
}

#registration__password1-eye, #registration__password2-eye{
    @include visually-hidden();
}

.registration__label1-eye, .registration__label2-eye{
    background-image: url(/static/images/login/eye.svg);
    display: inline-flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.registration__fieldset1, .registration__fieldset2{
    position: relative;
}

#registration__input1, #registration__input2{
    padding-right: 40px;
}

#registration__password1-eye:checked ~ .registration__label1-eye, #registration__password2-eye:checked ~ .registration__label2-eye{
    background-image: url(/static/images/login/blind.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.body__registration a{
    display: flex;
    justify-content: center;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 110%;
    color: var(--color-light);
    text-decoration: none;
}

.body__registration .login__registration{
    padding-top: 15px;
    padding-bottom: 20px;
    color: var(--color-red);
}

.login__button{
    @include button (200px, 50px);
    margin-top: 20px; 
    margin-bottom: 35px;  
}

.button{
    display: flex;
    justify-content: center;
}

@media (hover:hover){
    .body__registration a:hover, .login__button:hover{
        transform: scale(1.2);
        transition-duration: var(--transition-duration);
    }
}

@media screen and (max-width: 1300px){
    .registration__block{
        width: 50%;
    }

    .body__registration fieldset{
        width: 60%;
    }

    .registration__label1-eye, .registration__label2-eye{
        right: 30px;
    }
    
    #registration__password1-eye:checked ~ .registration__label1-eye, #registration__password2-eye:checked ~ .registration__label2-eye{
        right: 30px;
    }
}

@media screen and (max-width: 900px){
    .registration__block{
        margin-top: 15%;
    }
}

@media screen and (max-width: 700px){
    .registration__block{
        width: 70%;
    }

    .body__registration fieldset{
        width: 70%;
    }

    .registration__label1-eye, .registration__label2-eye{
        right: 10px;
    }
    
    #registration__password1-eye:checked ~ .registration__label1-eye, #registration__password2-eye:checked ~ .registration__label2-eye{
        right: 10px;
    }
}
