@import url('variables.scss');
@import url('fonts.scss');
@import url('mixins.scss');

@keyframes item-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#roles{
    margin-top: 150px;
    padding-top: 150px;
    color: var(--color-light);
    padding-bottom: 1000px;
}

.roles__header{
    @include header();
    text-align: center;
}

.roles__menu{
    display: flex;
    justify-content: center;
    position: relative;
}

label[class^="roles__label"]{
    display: inline-block;
    width: calc(120 / 1500 * 100vw);
    height: calc(130 / 1500 * 100vw);
    background-position: center;
    transition-duration: var(--transition-duration);
}

label[class^="roles__label"]:hover{
    cursor: pointer;
}

[id^="roles__input"]{
    visibility: hidden;
}

p[class^="roles__text"]{
    visibility: hidden;
    position: absolute;
    top: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70%;
    font-family: "Raleway-Regular";
    font-size: 18px;
    line-height: 150%;
    padding-inline: 50px;
    padding-block: 50px; 
}

[id^="roles__input"]:checked ~ p[class^="roles__text"]{
    visibility: visible;
    animation-name: item-animation;
    animation-duration: 2s;
    border: solid 2px #fff;
    border-radius: 10px;
    background-color: var(--color-blue);
    z-index: 1;
}

.roles__label-player{
    background-image: url("/static/images/roles/player.svg");
}

#roles__input-player:checked ~ .roles__label-player{
    @include label-checked($url:"/static/images/roles/player-red.svg");
}

.roles__label-coach{
    background-image: url("/static/images/roles/coach.svg");
}

#roles__input-coach:checked ~ .roles__label-coach{
    @include label-checked($url:"/static/images/roles/coach-red.svg");
}

.roles__label-organizer{
    background-image: url("/static/images/roles/organizer.svg");
}

#roles__input-organizer:checked ~ .roles__label-organizer{
    @include label-checked($url:"/static/images/roles/organizer-red.svg");
}

.roles__label-referee{
    background-image: url("/static/images/roles/referee.svg");
}

#roles__input-referee:checked ~ .roles__label-referee{
    @include label-checked($url:"/static/images/roles/referee-red.svg");
}

.roles__label-analyst{
    background-image: url("/static/images/roles/analyst.svg");
}

#roles__input-analyst:checked ~ .roles__label-analyst{
    @include label-checked($url:"/static/images/roles/analyst-red.svg");
}

.roles__label-commentator{
    background-image: url("/static/images/roles/commentator.svg");
}

#roles__input-commentator:checked ~ .roles__label-commentator{
    @include label-checked($url:"/static/images/roles/commentator-red.svg");
}

.roles__label-scout{
    background-image: url("/static/images/roles/scout.svg");
}

#roles__input-scout:checked ~ .roles__label-scout{
    @include label-checked($url:"/static/images/roles/scout-red.svg");
}

