{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайтик</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="" class="header__menu-link header__menu-link-logo">
                        <img src="{% static 'images/header/Logo.svg' %}" alt="" 
                        class="header__menu-logo"
                        width="" height=""
                        loading="lazy">
                    </a>
                </li>
                <input id="header__nav-1300" type="checkbox">
                <label for="header__nav-1300">
                    <div class="header__nav-label"></div>
                </label>
                <ul class="header__menu-burger">
                    <li class="header__menu-burger-item">
                        <a href="#" class="header__menu-link header__menu-hover-color">Главная</a>
                    </li>
                    <li class="header__menu-burger-item">
                        <a href="#" class="header__menu-link header__menu-hover-color">Возможности</a>
                    </li>
                    <li class="header__menu-burger-item">
                        <a href="#" class="header__menu-link header__menu-hover-color">Поддержка</a>
                    </li>
                    <li class="header__menu-burger-item header__menu-burger-item-hidden">
                        <a href="{% url "users:login" %}" class="header__menu-link header__menu-hover-color">Войти</a>
                    </li>
                    <li class="header__menu-burger-item header__menu-burger-item-hidden">
                        <a href="{% url "users:registration" %}" class="header__menu-link header__menu-hover-color">Регистрация</a>
                    </li>
                </ul>
                <ul class="header__menu-login">
                    <li class="header__menu-login-item">
                        <a href="{% url "users:login" %}" class="header__menu-link header__menu-hover-color">Войти</a>
                    </li>
                    <li class="header__menu-login-item">
                        <a href="{% url "users:registration" %}" class="header__menu-link header__menu-button-text">Регистрация</a>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <script src="/static/scripts/main.js"></script>
</body>
</html>
